[Unit]
Description=M-TEC inverter MQTT service
After=multi-user.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/MTEC_mqtt/venv/bin/python3 /home/pi/MTECmqtt/mtec_mqtt.py
Restart=always

[Install]
WantedBy=multi-user.target